 
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
p{
 color: #474747; 
}
body{
  max-width: 1600px;
  margin: auto;
}

 header{
  background-color: #FFF8F3;
  height: 829px;
  overflow: hidden;
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-position:left , right bottom;
background-repeat: no-repeat;

 
 }
 #nav{
  display: flex;
  justify-content: space-between;
 
 }
 #logo ,#manu{
  margin-left: 231px;
  margin-top: 25px;
  margin-right:229px ;
  align-items: center;
 }
 #logo p {
  font-size: 45px;
  

 }

 #manu{
  display: flex;
  gap: 20px;
 }
  #manu li{

    display: inline;
    margin-right: 100px;
  }
  #manu a{
    text-decoration: none;
    color:#474747;
  }
   #manu button{
    padding: 20px 30px ;
    background-color: rgb(255, 79, 15);
    color: aliceblue;
    border-radius: 10px;
    border: none;
    cursor: pointer;
   }
   #mainbanar{
    display: flex;
    justify-content: space-between;
   }
   #banar{
     margin-left: 231px;
     width: 585px;
     height: 356px;
     line-height: 40px;
   }
   #banar p{
    font-size: 18px;
    line-height: 22px;
    color: #474747;

   }
   #banar,h1{
     font-size: 85px;
    }
    #banar,h3{
      font-size: 50px;
    }
    #banar button{
      padding:10px 20px;
      color: orange;
       background:none ;
       border-radius:10px;
      border:1px solid orange;
      font-size: 20px;
      cursor: pointer;
    }
    #banar .btn{
      background-color: orange;
      color: #FFF8F3;
    }
    #man img{
      margin-right: 37px;
    }
    #maincontent{
      width: 1140px;
      height: 550px;
      background-color: #FFF8F3;
      margin: auto;
      margin-top: 127px;
      border-radius: 10px;
      text-align: center;
     justify-content: center;
      align-items: center;
     
    }
 
    .content1 p{
      font-size: 15px;
    }
    .content1 h1{
      padding-top: 150px;
      font-size: 35px;

  
    }
    #maindiv{
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    .child1 h2{
      font-size: 19px;
      color: #474747;
    }
    .child1 p{
      font-size: 20px;
    }
    section{
   text-align: center;
   margin-top: 100px;
   margin-bottom: 50px;
    }
    section h1{
      font-size: 35px;
    }


    #card{
      width: 1140px;
      margin: auto;
      display: flex;
      margin-bottom: 100px;
      
     
    }
    .card1{
      width: 201px;
      height: 276px;
      border-radius: 5px;
      text-align: start;
     box-shadow: 0px 0px 8px;
      padding: 20px;
      margin: auto;
     
     
    }
    .card1 h1{
      font-size: 20px;
    }
     .card1 p{
      line-height: 23px;
     }
     .summary{
      font-size: 35px;
      text-align: center;
      margin-bottom: 50px;

     }
      #cv{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
      }
     .card3{
      border-bottom: 1px solid;
      width: 600px;
      text-align: start;
     }
     .card3 h1{
      font-size: 30px;
      opacity: 0.7;
     }
     .card3 h3{
      font-size: 25px;
         opacity: 0.6;
     }
     .card3 h6{
      font-size: 15px;
      opacity: 0.4;
      margin-top: -20px;
     }
     .cvbutton{
      margin-top: 40px;
      padding: 15px 20px;
      border-radius: 10px;
      border: none;
      background-color: rgb(255, 153, 0);
      color: #FFF8F3;
      font-size: 20px;
      cursor: pointer;
      box-shadow: 0px 0px 8px  rgb(0, 0, 0);
     }
     footer{
    
      height: 780px;
      background-color: #FFF8F3;
      border-radius: 10px;
      display: flex;
      justify-content: center;
     text-align: center;
     gap:300px;
     }
    .footer1,.input {
      margin-top:100px ;
    }
     footer h1{
      font-size: 36px;

     }
      footer span{
        color: orangered;
        font-size: 25px;
        margin-right: 20px;
        transition: 0.3s;
        cursor: pointer;
     
      }

     .input input{
     display: block;
     margin-bottom:20px ;
     padding: 20px 200px 20px 10px;
     border: none;
     border-radius: 5px;
     text-align: start;
     }
      .input .inp{
        padding: 20px 50px;
        background-color: rgb(255, 129, 27);
        color: #FFF8F3;
        font-size: 20px;
        cursor: pointer;
        
      }

