 
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
p{
 color: #474747; 
}
 body{
  width: 1600px;
  margin: auto;
 }

 header{
  background-color: #FFF8F3;
  height: 829px;
  overflow: hidden;
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-position:left , right bottom;
background-repeat: no-repeat;

 
 }
 #nav{
  display: flex;
  justify-content: space-between;
 
 }
 #logo ,#manu{
  margin-left: 231px;
  margin-top: 25px;
  margin-right:229px ;
  align-items: center;
 }
 #logo p {
  font-size: 45px;
  

 }

 #manu{
  display: flex;
  gap: 20px;
 }
  #manu li{

    display: inline;
    margin-right: 100px;
  }
  #manu a{
    text-decoration: none;
    color:#474747;
  }
   #manu button{
    padding: 20px 30px ;
    background-color: rgb(255, 79, 15);
    color: aliceblue;
    border-radius: 10px;
    border: none;
    cursor: pointer;
   }
   #mainbanar{
    display: flex;
    justify-content: space-between;
   }
   #banar{
     margin-left: 231px;
     width: 585px;
     height: 356px;
     line-height: 40px;
   }
   #banar p{
    font-size: 18px;
    line-height: 22px;
    color: #474747;

   }
   #banar,h1{
     font-size: 85px;
    }
    #banar,h3{
      font-size: 50px;
    }
    #banar button{
      padding:10px 20px;
      color: orange;
       background:none ;
       border-radius:10px;
      border:1px solid orange;
      font-size: 20px;
      cursor: pointer;
    }
    #banar .btn{
      background-color: orange;
      color: #FFF8F3;
    }
    #man img{
      margin-right: 37px;
    }
    #maincontent{
      width: 1140px;
      height: 550px;
      background-color: #FFF8F3;
      margin: auto;
      margin-top: 127px;
      border-radius: 10px;
      text-align: center;
     justify-content: center;
      align-items: center;
     
    }
 
    .content1 p{
      font-size: 15px;
    }
    .content1 h1{
      padding-top: 150px;
      font-size: 35px;

  
    }
    #maindiv{
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    .child1 h2{
      font-size: 25px;
      color: #474747;
    }
    .child1 p{
      font-size: 20px;
    }

